.register-container {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#error-message {
    margin-top: 20px;
    color: red;
    text-align: center;
}
